<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirm</title>
    <link rel="stylesheet" href="/Layout/layoutPayment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
    <div class="container">
        <div class="sub-nav-bar">   
            <ul class="menu">
                <li><i class="fa-solid fa-newspaper"></i> <a href="" style="text-decoration:none;color: black;">NEWS/PROMO</a> </li>
                <li><i class="fa-solid fa-ticket"></i>  <a href="" style="text-decoration:none;color: black;">MYTICKET</a></li>
                <li><i class="fa-solid fa-registered"></i> <a href="" style="text-decoration:none;color: black;">REGISTER</a></li>
                <li><i class="fa-solid fa-phone"></i>  <a href="" style="text-decoration:none;color: black;">HOTLINE :1800 0800</a></li>
            </ul>                
        </div>
        <div class="nav-bar">
            <div class="logo-slot"><a href="../Layout/layoutHomepage.html"><img src="../picture/logo.png" alt=""></a></div>
            <div class="option">
                <h2>Movies</h2>
                <h2>Cinemas</h2>
            </div>
            <div class="language">
                <div class="img-holder"></div>
            </div>
<!-- /*----------------Unauthoriz----------------Before Login*/ -->
            <div class="button-sigin">
                <h2>Sign In</h2>
            </div>
<!-- /*----------------Authoriz----------------After Login*/ -->
            <!-- <div class="button-sigin">
                <div class="User-Menu">
                    <div class="Avatar"> </div>
                    <div class="UserName"><h2>Minh Thanh</h2></div>
                </div>
            </div> -->
        </div>
    </div>
<script src="homeUnAuthoriz_js.js"></script>
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
    <!-- Sub navbar -->
<!-- CONTAINER -->
<div class="booking-content">
    <div class="show-table-booking">
        <ul class="show-booking">
            <li class="show-item">Schedule:
                <div class="show-item-option">
                    04:00<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Date:
                <div class="show-item-option">
                    04/12/2022<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Amount:
                <div class="show-item-option">
                    1 ticket<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Total Price:
                <div class="show-item-option">
                    40.000đ  <i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
        </ul>
        <ul class="show-booking2">
            <li class="Show-item2">Seat:
                <div class="show-item-option">
                    
                </div>
            </li>
        </ul>
    </div>
    <div class="container-body">
        <h2 class="welcome">Thank you for coming to Chiketto ! Please check your booking information</h2>
        <div class="film-contain-container">
            <div class="feature-content-film">
                <span class="featured-title-film">FILM CONTENT</span>
                <div class="line"></div>
                <div class="main-content-film">
                    <div class="image-frame">
                        <img src="../picture/infor.png"  class="background-film">
                    </div>
                    <div class="container-box-film">
                        <ul class="infor-film">
                            <li class="infor-film-item main-title">BLACK PANTHER: Wakanda Forever</li>
                            <li class="infor-film-item" >Release: 4/11/2022</li>
                            <li class="infor-film-item">Category: Heroes, Actions</li>
                            <li class="infor-film-item">Cast: Lupita Nyong'o, Letitia Wright, Danai Gurira, Winston Duke, Angela Bassett</li>
                            <li class="infor-film-item">Director: Ryan Coogler</li>
                        </ul>
                        <div class="ticket-information">
                            <div class="schedule" style="display: inline-flex; font-size: 20px;">
                                Schedule :<h3 style="display: inline-flex; font-size: 20px;">04:00</h3>
                            </div>
                            <div class="seat-price">
                                <div class="firt-second-box">
                                    SEAT
                                </div>
                                <div class="firt-second-box">
                                    C06
                                </div>
                                <div class="third-box">
                                   <h6>45.000Đ</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-before">
                    <h4>TOTAL</h4>
                    <h4>45.0000Đ</h4>
                </div>
                <div class="total-before" style="border: none;">
                    <h4>Please enter the discount code (if any)</h4>
                </div>
                <div class="enter-voucer" >
                        <div class="voucher-box">
                            VOUCHER
                        </div>
                        <div class="voucher-box" style="background: none;">
                            <input type="text" placeholder="CODE">
                        </div>
                        <div class="voucher-box">
                            <button>SUBMIT</button>
                        </div>
                </div>
                <div class="total-before" style="border-top: 1px solid ;margin-top: 15px;" >
                    <h4>Discount</h4>
                    <h4>0Đ</h4>
                </div>
                <div class="total-before" >
                    <h4>Your payment</h4>
                    <h4>45.0000Đ</h4>
                </div>
                <div class="information-receive">
                    <h4 class="announce">Thank you for coming to Chiketto ! Please check your booking information</h4>
                    <div class="information-receive-box">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>                            
                        </div> <input type="text" placeholder="NAME(*)">
                    </div>
                    <div class="information-receive-box" >
                        <div class="icon" style="background: none;color: black;font-size: 25px;">
                            <i class="fa-solid fa-envelope" ></i>                          
                        </div> <input type="text" placeholder="MAIL(*)">
                    </div>
                    <div class="information-receive-box">
                        <div class="icon" style="background: none;color: black;font-size: 25px;">
                            <i class="fa-solid fa-mobile-screen"></i>                      
                        </div> <input type="number" placeholder="PHONE(*)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-action">
        <button class="back" style="font-size: 25px;color: white;"><a href="../Layout/layoutSelectSlot.html" style="text-decoration:none;color: white;">BACK</a></button>
        <button class="pay"  style="font-size: 25px;color: white;">PAY</button>
    </div>
</div>




<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<div class="container-footer">
    <div class="sub-footer">
        <div class="copy-right"><h3>©ChikettoCinema - All Rights Reserved. Designed web by chiketto</h3></div>
        <div class="detail-contact">  <h3>FOLLOW US : </h3> 
            <div class="icon-field">
                <i class="fa-brands fa-discord"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i>
            </div> 
        </div>
    </div>
    <div class="main-footer">
        <div class="register-zone">
            <div class="notification">
                <h3>Register to receive newest</h3>
            </div>
            <div class="input-email">
                <h2>Your Email</h2>
                <input type="email" class="input-form" placeholder="">
                <button class="ButtonRegister">Subscribe</button>
            </div>
        </div>
        <div class="introduction">
                <div class="column" >
                    <div class="test" >
                    <h2>ABOUT US</h2>
                    <h3>Your nature-inspired supplier of all-organic and fresh produce for all your daily needs. We offer skin treatments, nutrition advisory and more.</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>CONTACT US</h2>
                    <h3><i class="fa-regular fa-building"></i>27 Rue du Aire 60000 Tillé, France</h3>
                    <h3><i class="fa-solid fa-phone"></i>+1800 68098</h3>
                    <h3><i class="fa-solid fa-envelope"></i>sante@qodeinteractive.com</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>PAYMENT</h2>
                    <h3>If you have made a deposit for or paid for goods or services by credit or debit card and the goods or services are not going to be received by the due date, you may be able to get your money back by claiming a refund from your card issuer.</h3>
                    <div class="payment"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>