<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecting</title>
    <link rel="stylesheet" href="/Layout/layoutSelectSlot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
    <div class="container">
        <div class="sub-nav-bar">   
            <ul class="menu">
                <li><i class="fa-solid fa-newspaper"></i> <a href="" style="text-decoration:none;color: black;">NEWS/PROMO</a> </li>
                <li><i class="fa-solid fa-ticket"></i>  <a href="" style="text-decoration:none;color: black;">MYTICKET</a></li>
                <li><i class="fa-solid fa-registered"></i> <a href="" style="text-decoration:none;color: black;">REGISTER</a></li>
                <li><i class="fa-solid fa-phone"></i>  <a href="" style="text-decoration:none;color: black;">HOTLINE :1800 0800</a></li>
            </ul>                
        </div>
        <div class="nav-bar">
            <div class="logo-slot"><a href="../Layout/layoutHomepage.html"><img src="../picture/logo.png" alt=""></a></div>
            <div class="option">
                <h2>Movies</h2>
                <h2>Cinemas</h2>
            </div>
            <div class="language">
                <div class="img-holder"></div>
            </div>
<!-- /*----------------Unauthoriz----------------Before Login*/ -->
            <div class="button-sigin">
                <h2>Sign In</h2>
            </div>
<!-- /*----------------Authoriz----------------After Login*/ -->
            <!-- <div class="button-sigin">
                <div class="User-Menu">
                    <div class="Avatar"> </div>
                    <div class="UserName"><h2>Minh Thanh</h2></div>
                </div>
            </div> -->
        </div>
    </div>
<script src="homeUnAuthoriz_js.js"></script>
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
    <!-- Sub navbar -->
<!-- CONTAINER -->
<div class="booking-content">
    <div class="show-table-booking">
        <ul class="show-booking">
            <li class="show-item">Schedule:
                <div class="show-item-option">
                    04:00<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Date:
                <div class="show-item-option">
                    04/12/2022<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Amount:
                <div class="show-item-option">
                    1 ticket<i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
            <li class="show-item">Total Price:
                <div class="show-item-option">
                    40.000đ  <i class="fa-solid fa-chevron-down" style="margin-left: 3%;"></i>
                </div>
            </li>
        </ul>
        <ul class="show-booking2">
            <li class="Show-item2">Seat:
                <div class="show-item-option">
                    
                </div>
            </li>
        </ul>
    </div>
    <div class="screen-choose">
    <div class="screen">SCREEN</div>
        <div class="arrange-seat">
            <div class="seat-order">
                <button class="seat" style="background: none;">A</button>
                <button class="seat" style="background: none;">B</button>
                <button class="seat" style="background: none;">C</button>
                <button class="seat" style="background: none;">D</button>
                
            </div>
            <div class="seat-zone">
            <div class="first-row">
                <button class="seat">1</button>
                <button class="seat">2</button>
                <button class="seat">3</button>
                <button class="seat"style="background: #6ED71C;;">4</button>
            </div>
            <div class="second-third-row">
                <button class="seat">1</button>
                <button class="seat">2</button>
                <button class="seat">3</button>
                <button class="seat">4</button>
                <button class="seat">5</button>
                <button class="seat"style="background: #6ED71C;;">6</button>
                <button class="seat">7</button>
                <button class="seat">8</button>
                <button class="seat">9</button>
            </div>
            <div class="second-third-row">
                <button class="seat"style="background: #6ED71C;;">1</button>
                <button class="seat">2</button>
                <button class="seat">3</button>
                <button class="seat">4</button>
                <button class="seat">5</button>
                <button class="seat">6</button>
                <button class="seat"style="background: #6ED71C;;">7</button>
                <button class="seat"style="background: #6ED71C;;">8</button>
                <button class="seat">9</button>
            </div>
            <div class="first-row">
                <button class="seat" style="background: #6ED71C;;">1</button>
                <button class="seat">2</button>
                <button class="seat">3</button>
                <button class="seat">4</button>
            </div>
            </div>
        </div>
        <div class="signal-choose">
            <div class="green">
              <h4>CHOOSEN</h4>
            </div>
            <div class="violet" >
                <h4 style="margin-left:20px;">NOT CHOOSEN</h4>
            </div>
            <div class="green" style="background: none;border: solid black 1px;">
                <h4>  LINE SEAT</h4>
              </div>
        </div>
    </div>
    <div class="button-action">
        <button class="back" style="font-size: 25px;color: white;"><a href="../Layout/layoutFilmContent.html" style="text-decoration:none;color: white;">BACK</a></button>
        <button class="pay"  style="font-size: 25px;color: white;"><a href="../Layout/layoutPayment.html" style="text-decoration:none;color: white;">PAY</a></button>
    </div>
</div>




<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<div class="container-footer">
    <div class="sub-footer">
        <div class="copy-right"><h3>©ChikettoCinema - All Rights Reserved. Designed web by chiketto</h3></div>
        <div class="detail-contact">  <h3>FOLLOW US : </h3> 
            <div class="icon-field">
                <i class="fa-brands fa-discord"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i>
            </div> 
        </div>
    </div>
    <div class="main-footer">
        <div class="register-zone">
            <div class="notification">
                <h3>Register to receive newest</h3>
            </div>
            <div class="input-email">
                <h2>Your Email</h2>
                <input type="email" class="input-form" placeholder="">
                <button class="ButtonRegister">Subscribe</button>
            </div>
        </div>
        <div class="introduction">
                <div class="column" >
                    <div class="test" >
                    <h2>ABOUT US</h2>
                    <h3>Your nature-inspired supplier of all-organic and fresh produce for all your daily needs. We offer skin treatments, nutrition advisory and more.</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>CONTACT US</h2>
                    <h3><i class="fa-regular fa-building"></i>27 Rue du Aire 60000 Tillé, France</h3>
                    <h3><i class="fa-solid fa-phone"></i>+1800 68098</h3>
                    <h3><i class="fa-solid fa-envelope"></i>sante@qodeinteractive.com</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>PAYMENT</h2>
                    <h3>If you have made a deposit for or paid for goods or services by credit or debit card and the goods or services are not going to be received by the due date, you may be able to get your money back by claiming a refund from your card issuer.</h3>
                    <div class="payment"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>