<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../Layout/layoutHomepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
<!-- ----------Header--------------- -->
    <div class="container">
        <div class="sub-nav-bar">   
            <ul class="menu">
                <li><i class="fa-solid fa-newspaper"></i> <a href="" style="text-decoration:none;color: black;">NEWS/PROMO</a> </li>
                <li><i class="fa-solid fa-ticket"></i>  <a href="" style="text-decoration:none;color: black;">MYTICKET</a></li>
                <li><i class="fa-solid fa-registered"></i> <a href="" style="text-decoration:none;color: black;">REGISTER</a></li>
                <li><i class="fa-solid fa-phone"></i>  <a href="" style="text-decoration:none;color: black;">HOTLINE :1800 0800</a></li>
            </ul>                
        </div>
        <div class="nav-bar">
            <div class="logo-slot"><img src="../picture/logo.png" alt=""></div>
            <div class="option">
                <h2>Movies</h2>
                <h2>Cinemas</h2>
            </div>
            <div class="language">
                <div class="img-holder"></div>
            </div>
<!-- /*----------------Unauthoriz----------------Before Login*/ -->
            <div class="button-sigin">
                <h2>Sign In</h2>
            </div>
<!-- /*----------------Authoriz----------------After Login*/ -->
            <!-- <div class="button-sigin">
                <div class="User-Menu">
                    <div class="Avatar"> </div>
                    <div class="UserName"><h2>Minh Thanh</h2></div>
                </div>
            </div> -->
        </div>
    </div>
<script src="homeUnAuthoriz_js.js"></script>
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
<!------------------ Body --------------------------->
<!-- CONTAINER -->
<div class="container-homebody">
    <div class="content-container">
        <div class="featured-content">
            <span class="featured-title">TRENDING MOVIE</span>
            <h1 class="featured-desc">BLACK PANTHER</h1>
            <div class="featured-buy-see">
                <button class="featured-button" style="background : none;"><a href="../Layout/layoutFilmContent.html" style="text-decoration: none;color: white;">BUY TICKETS</a></button>
                <div class="yellow-line">

                </div>
                <button class="featured-button" style="padding-top: 15px;padding-bottom: 15px; font-size: 23px;width: 13%;"><i class="fa-solid fa-exclamation" style="margin-right: 6%;"></i><a href="../Layout/layoutFilmContent.html" style="text-decoration: none;color: white;">SEE MORE</a></button>
            </div>
            <div class="featured-trailer">
                <span class="featured-text-trailer">TRAILER</span>
                <video controls src="../video/trailer1.mp4" class="trailer1"></video>
            </div>
            <div class="featured-similar">
                <span class="featured-text-similar">SIMILAR</span>
                <video controls src="../video/trailer1.mp4" class="trailer1"></video>
            </div>
        </div>
        <div class="search-box">
            <div class="search-box-container">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;margin-left: 1%;"></i>
                <input placeholder="Seaching by name"></input>
            </div>
        </div>
        <div class="movie-list-container" style="margin-top: 4%;">
            <h1 class="movie-list-title">NOW SHOWING</h1>
            <div class="move-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img src="../picture/1.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/4.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/5.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/6.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/7.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/8.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="movie-list-container">
            <h1 class="movie-list-title">COMING SOON</h1>
            <div class="move-list-wrapper">
                <div class="movie-list">
                    <div class="movie-list-item">
                        <img src="../picture/1.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/2.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/3.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/4.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/5.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/6.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/7.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                    <div class="movie-list-item">
                        <img src="../picture/8.jpg" class="movie-list-item-img">
                        <div class="flex-button">
                            <button class="movie-list-item-button1">BUY TICKETS</button>
                            <button class="movie-list-item-button2">SEE MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<!------------------ Footer ------------------------->
<div class="container-footer">
    <div class="sub-footer">
        <div class="copy-right"><h3>©ChikettoCinema - All Rights Reserved. Designed web by chiketto</h3></div>
        <div class="detail-contact">  <h3>FOLLOW US : </h3> 
            <div class="icon-field">
                <i class="fa-brands fa-discord"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i>
            </div> 
        </div>
    </div>
    <div class="main-footer">
        <div class="register-zone">
            <div class="notification">
                <h3>Register to receive newest</h3>
            </div>
            <div class="input-email">
                <h2>Your Email</h2>
                <input type="email" class="input-form" placeholder="">
                <button class="ButtonRegister">Subscribe</button>
            </div>
        </div>
        <div class="introduction">
                <div class="column" >
                    <div class="test" >
                    <h2>ABOUT US</h2>
                    <h3>Your nature-inspired supplier of all-organic and fresh produce for all your daily needs. We offer skin treatments, nutrition advisory and more.</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>CONTACT US</h2>
                    <h3><i class="fa-regular fa-building"></i>27 Rue du Aire 60000 Tillé, France</h3>
                    <h3><i class="fa-solid fa-phone"></i>+1800 68098</h3>
                    <h3><i class="fa-solid fa-envelope"></i>sante@qodeinteractive.com</h3>
                    </div>
                    </div>
                <div class="column">
                    <div class="test">
                    <h2>PAYMENT</h2>
                    <h3>If you have made a deposit for or paid for goods or services by credit or debit card and the goods or services are not going to be received by the due date, you may be able to get your money back by claiming a refund from your card issuer.</h3>
                    <div class="payment"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>