@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../../../assets/fonts/BeVietnamPro-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../../../assets/fonts/Quicksand.ttf") format("truetype-variations");
    font-weight: 100 900;
}
