@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
body{
position: relative;
width: 100%;
height: 100%;
background: #FFFFFF;
overflow: hidden;
 border: solid 1px;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
/* .sub-nav-bar */
.container .sub-nav-bar{
position: absolute;
width: 100%;
height: 59px;
left: 0px;
top: 0px;
background: #FFFFFF;
border: solid 1px;
}
.sub-nav-bar .menu{
    position: absolute;
    text-align: right;
    height: 44px;
    width: 100%;
    left: 0;
    top: 0px;
    padding-top: 5px;
}
.sub-nav-bar .menu li{
    display: inline-flex;
    margin-left: 20px;
    align-items: baseline;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-top: 10px;
    font-weight: 700;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* navbar */
.container .nav-bar{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 50px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border: solid 1px;
}
.nav-bar .logo-slot img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 20px;
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.nav-bar .option{
    position: absolute;
    width: 320px;
    height: 50px;
    left: 40%;
    top: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar .option h2{
    width: auto;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    margin: 23px;
    color: #000000;
    padding-top: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.nav-bar .language{
    position: absolute;
    width: 110px;
    height: 72px;
    left: 74%;
    top: 15%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: url(/Header@UnAuthenticated/home_css.css) rgb(236, 210, 237);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar .language .img-holder{
    position: absolute;
    width: 70%;
    height: 70%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    overflow: hidden;
    background :url(/FinalProjectNMCNPM/picture/USA.png);
    background-size:cover ;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.nav-bar .button-sigin{
    border-radius: 15px;
    position: absolute;
    width: 17%;
    height: 72px;
    right: 0%;
    top: 17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #E8CEFE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar .button-sigin h2{
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
}